[2018-01-07 14:21] dvzrv opened #1 "TODO: other conferences"
Add a list of other conferences to https://wiki.linuxaudio.org to check before announcing/ finding a date for any upcoming LAC.

[2018-01-07 14:33] dvzrv opened #2 "Export track information"
Export the track information to a [VOC compatible format](https://github.com/zuntrax/voctosched).

There are [import handlers](https://github.com/zuntrax/voctosched/tree/master/handlers/import_handlers)

[2018-01-07 14:35] dvzrv opened #3 "Pay insurance for equipment"
The VOC requires an insurance for their equipment.

[2018-01-07 14:44] dvzrv opened #4 "Import track information for CIS"
Import all track information for infobeamer/ information system on-site.

[2018-01-07 19:19] ri0t commented on #4
This and the session management will be done with hackerfleet's calendar module. I'll setup an instance and introduce y'all to it, soon-ish.

[2018-01-07 19:20] ri0t opened #5 "Make sure, c-base' infoscreens can display our conference content"
There are various info-displays around c-base, these days. We need to make sure, we can run our conference content over that system.

[2018-01-07 19:32] ri0t opened #6 "Conference Information System"
..is being developed by riot (not entirely) specially for this conference. There are a few issues in another tracker describing the work to be done:

* [x] https://github.com/Hackerfleet/hfos/issues/281
* [x] https://github.com/Hackerfleet/hfos/issues/280

[2018-01-07 20:57] ri0t opened #7 "Collection of potential sponsors"
- [ ] EVE Audio (@ri0t)
- [ ] Schneiders Laden / Büro or Superbooth (@ri0t)
- [ ] Bitwig (@ri0t)
- [ ] Roland (@ri0t)
- [ ] u-He (@ri0t)
- [x] Ableton (@Excds )
- [ ] Adam (@dvzrv)
- [x] MOD (@dvzrv)
- [ ] Native (@anwaldt )
- [ ] RME (@anwaldt )
- [ ] Just Music (@anwaldt )
- [x] HEDD (@anwaldt )
- [ ] Behringér (@anwaldt )

[2018-01-07 21:13] ri0t opened #8 "IRC integrationtest"
Will be closed immediately

[2018-01-07 21:15] ri0t commented on #8
Works..

[2018-01-07 21:15] #8 closed, assigned to nobody

[2018-01-08 10:50] anwaldt opened #9 "plan excursions and (tech) tours"
- [ ] TU Berlin (studio tour) [@anwaldt]
- [ ] AdK (tour through the studio - (@anwaldt)
- [ ] Eve Audio's fabrication & accoustic chambers (perhaps, gotta ask first) (@ri0t )
- [ ] Schneiders Laden (well, that is a freebie, but we could perhaps extend it somehow) (@ri0t )

[2018-01-08 16:02] ri0t commented on #5
This just needs to be reconfigured in the ansible script. Should not be a problem at all but needs to be tested prior live usage.

[2018-01-08 16:02] #5 closed, assigned to ri0t

[2018-01-08 16:47] anwaldt opened #10 "Send 1st CFP"
Send out cfp. The lists are now in the pad

[2018-01-08 21:39] dvzrv commented on #10
We need an updated text for the mail I think.
Also, a footer regarding the involved institutions would be nice.

[2018-01-09 18:58] ri0t opened #11 "Participant registration"
Needs a system to register participants, so we know beforehand how many nerds we'll host and can possibly close registration after reaching a limit.

This could probably be part of the conference information system (infoscreens and session planning tool) i am building - it already has user registration.

[2018-01-09 19:15] ri0t commented on #11
Needs these issues resolved in https://github.com/hackerfleet/hfos:
* [x] https://github.com/Hackerfleet/hfos/issues/282
* [x] https://github.com/Hackerfleet/hfos/issues/268
* [x] https://github.com/Hackerfleet/hfos/issues/244 (at least a few bits of that one)

[2018-01-21 00:35] harryhaaren commented on #7
Suggestion to talk to MOD Devices too.

[2018-01-25 18:35] anwaldt opened #12 "Get Sponsors/Funding"

[2018-01-25 18:36] ri0t commented on #12
DUP!!!!111!

[2018-01-25 18:36] #12 closed, assigned to nobody

[2018-01-25 18:36] anwaldt opened #13 "get concert venue"
Room for 100-150 people.
- [x] Beta House (@franconassis)
- [x] AdK (@anwaldt )
- [x] delphi (@anwaldt )
- [ ] Sound Studies (@dvzrv)
- [x] Ohm (@ri0t )
- [ ] CRCL (https://crclr.org/spaces, 500€)
- [ ] Kater Holzig
- [ ] ETI (@ri0t)
- [ ] hybrid-lab (@anwaldt )
- [x] [artistania](http://artistania.org/) (@anwaldt , @dvzrv)

[2018-01-25 18:49] #10 closed, assigned to dvzrv, anwaldt

[2018-01-25 18:50] dvzrv opened #14 "Send 2nd CfP"
We need to send out the 2nd CfP soonish

[2018-01-25 18:55] anwaldt commented on #13
We have the Spektrum (http://spektrumberlin.de/home.html) for one event -
it is not so big, but ok.

[2018-01-25 19:02] dvzrv opened #15 "Crowdfunding"
We could get some sort of crowdfunding going, if anyone is willing to work on it.

[2018-01-25 19:06] anwaldt opened #16 "Announce LAC CFP on online conference calenders"
Has that been done for past LACs?

[2018-01-25 19:12] dvzrv opened #17 "State/city funding"
- [ ] [Auszeichnung künstlerischer Projekträume und -initiativen](https://www.berlin.de/sen/kultur/foerderung/foerderprogramme/bildende-kunst/artikel.60203.php) (@dvzrv)

[2018-01-25 19:42] ri0t opened #18 "Press statement"
Destinations:
* [x] Heise
* [x] LinuxMusicians.com
* [x] LinuxMagazin
* [ ] LinuxTag e.V.
* [x] LinuxJournal
* [x] LWN (Linux Weekly News)
* [x] Slashdot
* [ ] ...

Statement:
https://github.com/linuxaudio/conference2018/wiki/Press
German:
https://github.com/linuxaudio/conference2018/wiki/Presse

[2018-01-25 19:54] dvzrv opened #19 "Compile crew"
We need a list of people that will help during the event:

- [x] stage hands
- [x] session chairs
- [x] camera/ video mixing
- [x] bar

[2018-01-25 20:01] dvzrv opened #20 "Keynote"
We need to have a keynote speaker.
Any ideas welcome!

[2018-01-25 22:56] x42 commented on #20
Monty Montgomery from xiph/redhat

[2018-02-06 08:05] Excds commented on #7
I had a lunch with a friend who works at Ableton yesterday, and she's exactly the person to talk about this. She says that they would be interested and that they have a budget for sponsorships. So, how do we go about this? They would probably want to have their logo somewhere, but we don't want to have company logos put up at c-base. So, what about adding logos of the sponsors to what is screencas

[2018-02-06 09:40] Excds commented on #3
How much is the insurance?

[2018-02-18 18:14] anwaldt commented on #14
@anwaldt

- [x]  ak-staff@lists.tu-berlin.de
- [x]  ak-students@lists.tu-berlin.de
- [x]  lac-team@lists.linuxaudio.org
- [ ] DEGEM news

@x42

- [ ]  frei0r@lists.dyne.org
- [ ]   fluxus@lists.pawfal.org
- [x]   ardour-users@lists.ardour.org
- [ ]   foms@lists.annodex.net
- [ ]   sursound@music.vt.edu
- [x]  jack-devel@lists.jackaudio.org
- [x]  alsa-devel@alsa-project.org
- [x]    devel@lists.lv

[2018-02-20 15:46] dvzrv opened #21 "TODO: subscribe lac@linuxaudio.org to relevant mailing lists"
As lac@linuxaudio.org is now a valid mail account with sieve rules and all, it should be signed up to all relevant mailing lists to ensure easier communication of LAC data to those lists.

[2018-02-20 15:47] dvzrv opened #22 "TODO: create cfp template mails for lac@linuxaudio.org"
lac@linuxaudio.org can be used to send out all CfPs in the future and should therefore hold templates in its template directory.

[2018-02-20 15:51] dvzrv commented on #16
Not that I know of

[2018-02-22 09:06] dvzrv commented on #14
@x42 ping

[2018-02-22 09:32] Excds commented on #7
@dvzrv @ri0t
Update: I just had a meeting with people from Ableton. Yes, they are willing to sponsor us and they would be fine with having their logo on a sponsor's slide when starting presentations. We'll get the proper logo package from them.

Questions:
1: Do we have an organization that is officially organizing the conference? If we're going to get sponsorship from Ableton, then they would do

[2018-02-22 12:05] dvzrv commented on #3
It was roughly 190EUR. Might be a little less, if we're using c-base equipment in parts (question to VOC pending).

[2018-02-22 12:11] Excds commented on #7
Ok, so I got this email now:

[2018-02-22 12:13] dvzrv commented on #7
@Excds that sounds wonderful!

That would probably be the TU (and maybe @anwaldt can say more about that). However, I think they have the issue of having separate in and outgoing accounts, which makes dealing with sponsorship a pain.
I think a better way would be to use c-base for it, as it can receive donations (I'll ask count right now).

This we need to cross check with the possible venues to r

[2018-02-22 12:22] Excds commented on #7
@dvzrv So then we can get a c-base branded invoice to send?

[2018-02-22 12:43] dvzrv commented on #7
Most likely. Waiting for cultorga now. Cash said, it'll work.

[2018-02-22 12:57] Excds commented on #7
"Cash said, it'll work"??

[2018-02-22 13:04] Excds opened #23 "Sponsor slide for talk intros"
As we discussed that we would when presenting talks have one slide for LAC + talk name and one for sponsors before the rest of the talk slides, we still need to prepare those...

[2018-02-22 13:05] Excds commented on #23
Graphics from Ableton.
[Ableton wordmark.zip](https://github.com/linuxaudio/conference2018/files/1747950/Ableton.wordmark.zip)

[2018-02-22 13:09] dvzrv commented on #7
cashmaster, aka count

[2018-02-22 13:54] ri0t commented on #3
I think, we might be able to lend some more useful equipment (i.e. at least two more of those Canon HD cams and other less techy stuff), probably for free.

[2018-02-22 13:55] ri0t commented on #4
Oooh, @anwaldt or @dvzrv - can you give me a preliminary (demo) export of openconf's results, already?

[2018-02-22 15:40] ri0t commented on #23
I'll do those with the CIS. So yeah, let's collect the necessary assets here.

[2018-02-22 15:42] ri0t commented on #16
Me neither. Sounds like #18 - we need to advise people that they have to register, to really participate locally, so we don't get overcrowded in any case. I'll integrate that into the press statement.

[2018-02-22 15:50] ri0t commented on #11
Hm. We'll definitely need
* [x] TOS/Privacy/Cookie-legalese.

[2018-02-22 15:52] ri0t commented on #15
Hmm. What i'd be willing to do is add a crowd-pledging module to the CIS - but i'm wary about handling payment sh*ts, as that can lead to spilling, radioactive messes. Any idea on how to solve this?

[2018-02-22 15:53] ri0t commented on #1
Perhaps this might be of help: http://www.linux-magazine.com/Resources/Event-Calendar

[2018-02-23 22:52] dvzrv commented on #21
As there is still a substantial amount of 2nd calls not sent, I'd rather do this earlier than later.
It would be good to create some subfolders and apply filter in the lac account to not get all that mailing list stuff into the INBOX.

[2018-02-25 10:33] dvzrv opened #24 "Accept VOC equipment and store at c-base"
According to @derpeter, a delivery with the VOC hardware will arrive at c-base on May 30th.
A cey has to be there to accept the delivery and help store it (e.g. at soundlab).

As I might not be in Berlin that day, due to to some other planning, we need a volunteer.
@Excds @ri0t ?

[2018-02-27 10:12] Excds commented on #7
@dvzrv Any response on creating an invoice?

[2018-02-27 10:35] dvzrv commented on #7
Sorry, been too busy.
They can send their request for the invoice directly to cultorga@c-base.org

--
https://sleepmap.de

[2018-02-28 13:20] falkTX commented on #18
I am admin at linuxmusicians.com, I can make the topic sticky to get more visibility.

[2018-02-28 13:31] ri0t commented on #18
@dvzrv @Excds @anwaldt - any input/criticism on this? Otherwise i'd really like to send this out today.

[2018-02-28 13:57] Excds commented on #7
@dvzrv We should be the ones sending an invoice to Ableton. But, ehm, so I just send an email to cultorga asking for an invoice with specific details that I can send to Ableton?

I don't know the usual procedure and information needed for invoices here in Germany...

[2018-02-28 15:00] dvzrv commented on #7
Ah well, I can ask him to do that, too.
Wasn't sure, if Ableton has everything they need and it might just be easier for them to deal with nielc (cultorga) directly instead of us middlemanning for them.

[2018-02-28 15:14] dvzrv commented on #18
@ri0t I updated it a little, but am travelling right now, so I don't have much time to really have a deep look into it.
Looks okay so far though.

[2018-02-28 16:39] dvzrv commented on #7
@Excds seems that nielc will write an invoice and send it to Ableton (probably today).
Sorry for the delay.

[2018-03-07 17:44] anwaldt opened #25 "Visit BetaHouse"

[2018-03-07 17:45] #25 closed, assigned to nobody

[2018-03-07 18:21] dvzrv commented on #18
Needs CfP link!

[2018-03-10 17:42] ri0t commented on #18
@falkTX : https://linuxmusicians.com/viewtopic.php?f=13&t=18261

[2018-03-10 17:57] ri0t commented on #18
https://slashdot.org/submission/7983621/linux-audio-conference---0706-10062018-c-base-berlin

[2018-03-11 15:47] #18 closed, assigned to nobody

[2018-03-11 15:48] ri0t commented on #13
I was told a surprisingly low price for the Ohm. They're apparently just a bit picky about whom they let in, but i think, the Linux Sound Night might actually qualify...

[2018-03-15 19:26] anwaldt commented on #13
So - who can I contact to make it happen?

[2018-03-22 12:10] dvzrv commented on #14
Closing this now, as it has become irrelefant

[2018-03-22 12:10] #14 closed, assigned to dvzrv, anwaldt

[2018-03-22 12:43] dvzrv commented on #20
@x42 can you put us in contact?

[2018-03-26 16:10] ri0t commented on #16
Has been integrated into the most important ones i could find.

[2018-03-26 16:10] #16 closed, assigned to nobody

[2018-03-26 16:36] ri0t commented on #11
* [x] Include swag (t-shirt) pre-order form!

[2018-03-26 16:40] ri0t opened #26 "Swag"
Someone (looking at @artfwo) asked for shirts. We're only going to do that, if we find volunteers to prepare these.

I'd say:
* Generic Linux Audio shirt -> 20 EUR
* Personalized Shirt -> 30 EUR ("And thank you for the donation!")

We could offer more stuff like Audio-Tux-Bags and whatnot.

[2018-03-26 16:58] ri0t opened #27 "Export for static webpage"
We need to be able to hit the button to export reStructuredText for sessions.
Misc stuff to watch there:
* [ ] Video-URL
* [ ] HFOS URL
* [x] Title, Description, Author, Datetime

[2018-03-28 10:36] MaZderMind commented on #24
@dvzrv @ri0t Hi! I'm organizing the Logistics-Planning for C3VOC.

I planned on having the Hardware being delivered to c.base at **2018-05-30**. We need a Time-Window of at least 4 hours, where someone on site is able to accept the delivery. Preferrably between **9:00 and 17:00**.

The actual delivery address was communicated to me as
[code]

I'd also need a **name** and a **mobile phone number**

[2018-03-28 19:32] dvzrv commented on #27
As we have openconf already, we can use that data.
Need a conversion from there to VOC anyways.

[2018-03-28 19:35] #21 closed, assigned to Excds, dvzrv, anwaldt, ri0t

[2018-03-28 19:36] #20 closed, assigned to nobody

[2018-03-28 19:51] dvzrv commented on #24
@MaZderMind I will try to be available that day, but I can only be around in the early morning (until 9:45) or late afternoon (after 18:00), due to work.
You can find my contact details on my website.
Note that for c-base members to be around, it's usually better to choose a time window in the afternoon (if possible).

I will check, if another cey will be available that day.

[2018-04-01 13:06] MaZderMind commented on #24
@dvzrv Okay, so I'll try to arrange delivery **on 2018-05-30 between 18:00 and 22:00**. I'll keep you updated here.

[2018-04-01 16:18] ri0t commented on #24
I can be there earlier than 1800, just not before 1200.

[2018-04-01 18:14] MaZderMind commented on #24
I requested delivery between 18:00 and 22:00 at the haulage now. I guess they charge us a little extra but it shouldn't be that much. I'd say let's see what they quote us and if it's too much I'll come back to you.

[2018-04-10 14:33] dvzrv commented on #7
I have included Ableton on the website. Processing MOD now.

[2018-04-17 10:52] MaZderMind commented on #24
So the special transport after 18:00 costs around 220€ extra. If @ri0t can be there earlier I would rather like to request delivery after, let's say, 14:00 – would that be ok?

[2018-04-17 10:57] ri0t commented on #24
Absolutely!

[2018-04-19 10:40] ri0t opened #28 "Set up VM"

[2018-04-19 10:41] ri0t opened #29 "Point live.linuxaudio.org to CIS VM"
`live         IN  A     46.4.114.243    ; live conference info system`

Should be added to linuxaudio.org's DNS zone

[2018-04-20 18:55] dvzrv commented on #13
we have artistania for the saturday. We'll most likely have to deal with a much smaller space for friday though...

[2018-04-20 19:01] dvzrv commented on #2
[voctosched has an issue tracking this](https://github.com/voc/voctosched/issues/31).

[2018-04-20 19:07] dvzrv commented on #23
Can now also all just be grabbed [from the website](https://github.com/linuxaudio/lac2018/tree/master/files/images) (@150px height)

[2018-04-22 13:31] ri0t opened #30 "Create mail-account for the CIS"
We need an account to send mail from linuxaudio.org.
I'd propose "bot@linuxaudio.org" if that one isn't already reserved.

We'll primarly need this for the account registration confirmation and (future) password resetting.

@dvzrv : can you create that one and send me credentials via secure channel?

[2018-04-22 13:34] dvzrv commented on #30
will try to do that later tonight!
--
https://sleepmap.de

[2018-04-22 13:38] ri0t commented on #30
Sweet. Then we can test the heck out of this tomorrow and invite everyone as soon as the live-dns entry is done.
I'm beautifying things until then.

I've pretty much built a better openconf in the meantime, btw :D

[2018-04-22 18:59] danielhjames commented on #29
Hi, https://live.linuxaudio.org/ is online although the certificate is self-signed so there will be browser warnings.

[2018-04-22 21:45] dvzrv commented on #29
excellent!
I guess we can setup letsencrypt for that subdomain now.

Thanks @danielhjames

[2018-04-22 21:45] #29 closed, assigned to nobody

[2018-04-22 21:50] dvzrv commented on #30
created

[2018-04-22 21:50] #30 closed, assigned to nobody

[2018-04-28 21:03] dvzrv commented on #28
letsencrypt cert added.
live.linuxaudio.org points to VM.

[2018-04-28 21:03] #28 closed, assigned to nobody

[2018-05-01 21:16] dvzrv commented on #27
event data is now in ics calendars and should remain there.

[2018-05-03 07:23] Excds commented on #19
Setup dudle for helpers.

http://dudle.inf.tu-dresden.de/

One for workshops (best with more technical people) and one for people being track chair (paper session, poster session).

[2018-05-06 16:35] coderkun opened #31 "Fix typo “Purr Data”"
Correct the title of [Getting Started with Purr Data](https://lac.linuxaudio.org/2018/pages/event/15/) to read “Pure Data”.

[2018-05-06 19:51] dvzrv commented on #31
[nice try](https://puredata.info/downloads/Pd-L2Ork) ;-)

[2018-05-06 19:51] #31 closed, assigned to nobody

[2018-05-06 21:25] coderkun commented on #31
Haha, sorry ;)

[2018-05-08 19:16] dvzrv opened #32 "Check GEMA status of all performances/installations"
For the potential video streaming of concerts we need to make sure, that all artists are not performing pieces, that are licensed with [GEMA](https://www.gema.de/).

[2018-05-12 22:55] dvzrv commented on #2
https://github.com/linuxaudio/lac2018/blob/master/files/lac2018.xml

[2018-05-12 22:55] #2 closed, assigned to Excds, dvzrv, ri0t

[2018-05-12 22:57] dvzrv commented on #9
Unlikely, that this is going to happen after the tracks on Sunday.
If someone is willing to host/ organize these, reopen.

[2018-05-12 22:57] #9 closed, assigned to nobody

[2018-05-12 22:58] dvzrv commented on #23
A simple pdf would do, too.

[2018-05-12 22:59] #15 closed, assigned to nobody

[2018-05-13 17:36] #11 closed, assigned to ri0t

[2018-05-13 21:51] falkTX commented on #11
we have lac t-shirts?

[2018-05-13 22:42] ri0t commented on #11
not per se... unless we find a way to manage the process, involving quite some work:
* manage preorders
* order shirts accordingly
* design/complete a nice shirt design
* fire up the shirt-manufacture, which in turn consists of (per shirt):
  * cut foil
  * pick foil outlines
  * fix foil on shirt by ironing

Also, the costs for the plotted material and probably one knife per ~23 to ~42 shirts nee

[2018-05-14 16:06] ri0t commented on #23
[2018-05-14_Draft_1_1920x1080.pdf](https://github.com/linuxaudio/conference2018/files/2001634/2018-05-14_Draft_1_1920x1080.pdf)
[2018-05-14_Draft_1_1920x1200.pdf](https://github.com/linuxaudio/conference2018/files/2001635/2018-05-14_Draft_1_1920x1200.pdf)

[2018-05-16 20:03] dvzrv commented on #13
we'll use c-base on friday evening

[2018-05-16 20:07] dvzrv opened #33 "Pay artistania venue"
For [artistania](http://artistania.org/) we have to pay a fee (between 200-300EUR).
They will deal with the bar and drinks on their own.

[2018-05-16 20:08] #17 closed, assigned to nobody

[2018-05-17 13:04] MaZderMind commented on #24
So, Transportation is now fixed to

I'll open another ticket for pickup after the conference

[2018-05-17 13:10] dvzrv commented on #24
@MaZderMind thanks!

[2018-05-17 13:12] MaZderMind opened #34 "Give VOC equipment to Haulage"
Pickup would be on 11.06. **after 14:00**, just like with delivery (#24):

[2018-05-21 09:07] MaZderMind commented on #24
One more Update: On 30.5. we expect two Trucks to arrive::
 - no.1 carries 2 Flightcases from Heidelberg
 - no.1 carries 1 Flightcase from Paris

Both should arrive after 14:00 and both got the Phone number above. At the end of the day you shpuld have *3 Big Flightcases* with smaller ones strapped on top of them.

[2018-05-21 11:22] dvzrv commented on #3
equipment list is requested

[2018-05-21 11:23] dvzrv opened #35 "Schedule extra cleaning"
We have to schedule an extra cleaning with cultorga, sometime in the middle of the event.
This usually costs around 100EUR and eventually might be taken care of by c-base itself, if we request this.

[2018-05-21 11:26] dvzrv opened #36 "Print proceedings"
- [ ] proceedings have to be printed and picked up.

[2018-05-21 11:40] dvzrv opened #37 "Announce LAC within c-base at next circle"
We need an infotopic about LAC at the next circle (**20180601**), highlighting the following:

- [x] live video broadcasting June 7th - June 10th
- [x] a lot of workshop and paper sessions!
- [x] informal opening (with live music) on Thursday (**20180607**)
- [x] 8-channel (tape music) concert evening on Friday (**20180608**)
- [x] we need bar bots!

[2018-05-21 11:46] dvzrv opened #38 "Request dedicated upstream for VOC (if needed)"
We need to write to admax@ to consider a dedicated upstream for the VOC streaming.

[2018-05-21 11:49] dvzrv commented on #13
As we have this settled (afaics), I'll close this.

[2018-05-21 11:49] #13 closed, assigned to dvzrv, anwaldt, ri0t

[2018-05-21 13:00] ri0t commented on #37
Sent a mail to bar-crew with a bar-crew schedule

[2018-05-21 13:03] dvzrv commented on #37
Thanks!

[2018-05-22 07:36] MaZderMind commented on #34
@dvzrv @ri0t can you confirm that? I would like to plan the next shipping with our Haulage this week.

[2018-05-22 07:36] MaZderMind commented on #38
The VOC calculates 5 MBit/s per Room peak, usually more in the Range of 3 MBIt/s.

[2018-05-23 15:47] #4 closed, assigned to ri0t

[2018-05-23 15:50] #6 closed, assigned to ri0t

[2018-05-24 16:45] dvzrv commented on #34
@MaZderMind yes, this should work!

[2018-05-24 17:10] dvzrv commented on #35
just sent a mail to cultorga, requesting this.

[2018-05-24 17:19] dvzrv opened #39 "Buy coffee"
Zappatistic coffee for the conference. We might be able to buy this through cultorga.
Needs request

[2018-05-24 17:26] dvzrv opened #40 "Make name tags"
We need to print name tag stickers of all (known) participants.

[2018-05-24 17:42] ri0t commented on #35
Depending on the cleaning time, the chairs need to be set up either in the evening or in the morning.

[2018-05-24 17:44] ri0t commented on #19
https://dudle.inf.tu-dresden.de/LAC18_Team/

Needs an invitation mail, stating that people should put their addresses and job-type as well.
Does it need more fine granularity?

[2018-05-24 17:45] dvzrv opened #41 "Create volunteer mailing list"
Create mailing list for communicating with volunteers

[2018-05-24 17:45] ri0t opened #42 "Announce Lightning Talk submission"
* [x] Homepage
* [ ] Mail lists?

[2018-05-24 17:46] ri0t commented on #23
MOD needs to be added

[2018-05-24 18:12] ri0t commented on #19
https://dudle.inf.tu-dresden.de/LAC18_Team/
https://dudle.inf.tu-dresden.de/LAC18_Stage/
https://dudle.inf.tu-dresden.de/LAC18_Video/
https://dudle.inf.tu-dresden.de/LAC18_Session/

[2018-05-24 18:36] ri0t opened #43 "Prepare Matelight"
It needs an updated version of the LAC16 animation.

[2018-05-24 18:51] ri0t commented on #43
Since it is travelling around on 6th, i sent a mail to the lender to make sure it is operable by latest 1700 on the 7th.

[2018-05-24 18:56] ri0t opened #44 "Find a time for the group photo"
* [ ] Saturday or Sunday?
* [ ] What time?
* [ ] Add calendar item

[2018-05-24 18:59] ri0t opened #45 "Get Hedd speakers to workshops"

[2018-05-24 21:28] anwaldt commented on #45
HEDD!!!

[2018-05-25 13:07] ri0t opened #46 "Summary extraction"
Aloha, hoffe das hilft:
https://gist.github.com/ri0t/b107032b48545765b407720c2f3dfc84

[2018-05-26 13:07] dvzrv commented on #38
Sent a mail (with CC to conference mail) to admax@.

[2018-05-26 13:09] dvzrv opened #47 "Print direction signs"
We need a bunch of direction signs for the participants, so they'll more easily find places in c-base, but also direction signs for Rungestrasse and the backyard, so people will find the entrance without hassle.

- [x] getting to c-base
- [ ] where is mainhall
- [ ] where is ceminar
- [ ] where is soundlab
- [ ] getting to spektrum
- [ ] getting to native space

[2018-05-26 14:26] dvzrv commented on #36
please make sure to review the proceedings by monday (20180528), as they'll go to print then

[2018-05-26 14:39] ri0t commented on #19
I think the text is okay. I'd post it to:
- ak-staff@lists.tu-berlin.de
- ak-students@lists.tu-berlin.de
- lac-team@lists.linuxaudio.org
- communication@sounds.berlin
- intern@c-base.org

Any other lists/targets?

[2018-05-26 14:39] ri0t commented on #19
Maybe have a post on the homepage as well?

[2018-05-26 14:57] dvzrv commented on #38
Now requested updated MAC adresses for VOC equipment to be priotized.

[2018-05-26 14:58] dvzrv commented on #41
We now have linuxaudio-volunteer on lists.linuxaudio.org, which will be a short-lived and closed mailing list for the purpose of communicating with the volunteers (#19).

[2018-05-26 14:58] #41 closed, assigned to dvzrv

[2018-05-26 21:38] dvzrv commented on #19
Yes, this should also go to the website. I'll write a post for it

[2018-05-26 22:45] dvzrv commented on #19
I've also revised the text for the mailing lists. Not sure, if we can send to all of the mailing lists though (e.g. the AK ones have already been tried by @anwaldt). We could extend to lau.

[2018-05-26 22:56] dvzrv commented on #19
anyhow... this can be sent out now and it would be great if @Excds could take over from here

[2018-05-28 10:58] dvzrv commented on #35
cultorga informed us, that it's already working on a cleaning schedule. I've synced our schedule with nielc (cultorga), so he should be sufficiently aware of our situation.

[2018-05-28 10:59] dvzrv commented on #32
@anwaldt did you send out a request for this, or do we still have to do this?

[2018-05-28 11:00] dvzrv commented on #33
I've requested a meeting this week to clarify payment, entrance and opening of the space on Day 3 for us.

[2018-05-28 11:02] dvzrv opened #48 "Return HEDD speakers"
The HEDD speakers need to be returned to the manufacturer.
We can maybe combine this with location teardown at artistania.

[2018-05-28 11:02] dvzrv commented on #3
Equipment list received. Will contact insurance asap and arrange payment through cash@

[2018-05-28 15:33] dvzrv commented on #19
The mail was sent. Only the post needs to be pushed now.

[2018-05-28 21:00] Excds commented on #39
@dvzrv Is it this type you mean? https://www.aroma-zapatista.de/

[2018-05-28 22:51] dvzrv commented on #19
Posts posted.

[2018-05-28 22:55] dvzrv commented on #39
@Excds yep. but in general, if you can find something that is really good (trusting in your nation's coffee heritage ;-) ), go for it!

[2018-05-29 06:15] Excds commented on #39
@dvzrv I guess we can order from there and have it before it's time. But, eh, how much should we get?

I like good coffee, but I'm really not the one who knows a lot about it (I may not know art, but I know what I like...).

[2018-05-29 10:53] Excds commented on #47
Depending on the weather, writing LAC in chalk on the ground together with an arrow?

[2018-05-29 13:30] dvzrv commented on #7
Still need to include HEDD for hardware sponsorship, but I'll close this now, as I don't think there's more coming in. If so, reopen

[2018-05-29 13:30] #7 closed, assigned to nobody

[2018-05-29 13:32] dvzrv commented on #36
This will be moved to print today.
The money will have to be refunded through c-base later on.

[2018-05-29 13:32] #36 closed, assigned to anwaldt

[2018-05-29 13:34] dvzrv commented on #42
The website has an article about this. If you want to send out an e-mail notification, better do it sooner than later.

[2018-05-29 15:00] dvzrv commented on #47
Whatever floats your boat ;-)
Generally it's a lot of cobblestones there, so printouts might be easier

[2018-05-29 15:38] ri0t commented on #47
I _could maybe_ add a map with directions on live.linuxaudio.org - not sure if i can get it to be a smooth user experience in that short time, though. Handling the map is still kind of non-trivial, sadly.

I'm gonna give it a try and see how far this works. It is probably not a 100% replacement, though.

[2018-05-29 16:02] dvzrv commented on #47
@ri0t please don't. There are plenty of other loose ends right now. No need to add yet another

[2018-05-29 16:50] dvzrv commented on #33
For some fucked up reason, we just got a mail saying that artistania is not happening (some internal struggle in the association, blah).
We will move this to native space at native instruments. Will have to take care of the space ourselves there though and maybe call it an early night.

[2018-05-29 16:50] #33 closed, assigned to nobody

[2018-05-29 16:54] dvzrv opened #49 "Prepare Native Space for concerts on Saturday"
As artistania just blew all up in our faces, we'll move concerts on Saturday to Native Space (at Native Instruments).

This requires a few things:

- [x] order drinks through in-house caterer or use c-base stock
- [x] get information on power grid
- [ ] setup space
- [x] have 1-2 people ready to open/close the main gate for visitors at all times
- [x] find 1-2 more people from Native Instruments t

[2018-05-29 17:00] #46 closed, assigned to dvzrv

[2018-05-29 17:01] dvzrv commented on #23
HEDD and Native Instruments need to be added.

[2018-05-29 18:05] dvzrv commented on #37
What's the bar bot status?

[2018-05-29 23:00] dvzrv commented on #44
Ideally we would do this Sunday, because half of the crew will be at native space on Saturday. Unless, we do it there, before the concert!

[2018-05-29 23:04] dvzrv opened #50 "Collect people for closing speech"
During the closing speech we'll thank a bunch of people.
We need a list!

[2018-05-29 23:07] dvzrv opened #51 "Prepare soundlab"
Soundlab needs to be prepared for
* spontaneous meetings
* showcases

[2018-05-30 03:01] ri0t commented on #44
Naaah. I do <3 native - but nah. We should do it at c-base out of historical reasons.

[2018-05-30 07:50] dvzrv commented on #44
Getting the involved people and the highest amount of people possible in the picture completely outweighs "historical reasons". I'm thinking practical here, as that's when most of us will be in one spot.
Saturday during the day it is too much of a hassle to drive around between rehearsals. Another possible solution would be Sunday, but that's usually when some people are leaving already.

[2018-05-30 09:02] dvzrv commented on #24
@MaZderMind I just had to deal with the arrival of the first two flightcases by rushing over from work to c-base and opening the space. Please tell the logistics company, that this is unacceptable (timing wise).

[2018-05-30 09:08] MaZderMind commented on #24
@dvzrv

[2018-05-30 09:21] dvzrv commented on #24
@MaZderMind vielen Dank!

[2018-05-30 09:24] MaZderMind commented on #24
@dvzrv Das andere Case hat gestern Paris verlassen und sollte gg. 14/16 Uhr bei euch eintreffen. Vielen Dank für deine Mühe!

[2018-05-30 09:32] MaZderMind commented on #24
@dvzrv

[2018-05-30 10:08] dvzrv commented on #49
* requested dedicated upstream for VOC (apparently we can even get RJ45, but I need IT for that)
* asked a bunch of colleagues (two already said yes)
* asked about power connection (we should have sufficient power connections for our setup)

[2018-05-30 12:37] Excds commented on #51
@dvzrv For this we'd basically just need to tidy a bit and to prepare some connections to sound?

What's the status of the projector btw?

[2018-05-30 12:38] Excds commented on #44
I guess Saturday makes more sense in the case of getting more people.

[2018-05-30 13:31] ri0t commented on #24
Die zweite Lieferung ist auch da. Haben wir ne Packliste, damit ich prüfen kann, ob alles da ist?

[2018-05-30 13:49] MaZderMind commented on #24
@ri0t In den Cases ist eine kleinteil-Liste zum später packen. Für den Moment kannst du einfach mal ein Foto von dem machen was da ist.

Es sollten bei euch sein:
 - 3 Saal-Cases (groß, blau, mit Rollen)
 - 3 Audio-Cases (kleiner, braun)
 - 3 oder 4 Auer-Boxen Regie- und Spare-Parts
 - 2 Kabeltrommeln SDI-Kabel

Edit: wir haben Fotos:
Lieferung 1: https://c3voc.de/gallery/2018/DjangoCon/IMG_1412.j

[2018-05-30 14:38] dvzrv commented on #49
The max upstream seems to be 790mbit, so VOC should be fine.

[2018-05-30 14:40] dvzrv commented on #49
We have to choose between:
* ordering drinks through https://www.hoffmannbringts.de/ with in-house caterer and deal with how to pay for that (most likely we can only pay for that in cash, as the person in charge doesn't know yet, whether external payments through bank are fine)
* use c-base stock and drive it over to native space

[2018-05-30 18:55] dvzrv commented on #3
Appointment on Monday will settle the contract.

[2018-05-30 18:59] dvzrv commented on #49
@anwaldt @riot @excds please respond regarding the drinks asap. Needs to be clarified by tomorrow

[2018-05-30 19:28] Excds commented on #49
@dvzrv I can put up the cash if I get a receipt. Well, depends on how much. But it should be fine.

[2018-05-30 20:41] Excds commented on #49
Waiting for the invoice so I can pay and get the order going...

[2018-05-30 20:45] dvzrv commented on #49
@Excds I'm not sure that's actually the preferred way. We have to somehow use the provided sponsoring towards LAC. It would probably be possible to just use c-base stock, but I have no clue as to how that is handled.
I also wouldn't know what to choose from in the catalogue of a gazillion drinks.

[2018-05-31 16:14] dvzrv opened #52 "Be GDPR compliant"
I know, I know, the timing couldn't be better, but:

source: https://en.wikipedia.org/wiki/General_Data_Protection_Regulation

We need to inform each participant and each presenter about the intended streaming (and have opt-outs for media.ccc.de or youtube.com) and the usage of their metadata (on the website and the aformentioned platforms).

As I have no clue about the whole thing, I'll ask bengo

[2018-05-31 16:26] dvzrv commented on #24
@ri0t can we close this?

[2018-05-31 16:27] dvzrv commented on #23
@ri0t where are the sources of the above pdfs?

[2018-05-31 16:46] ri0t commented on #23
I think, the repo makes a fine place for that. MOD is already in, i don't have anything from HEDD or NI.

https://github.com/linuxaudio/conference2018/tree/master/sponsor_slide

[2018-05-31 16:47] ri0t commented on #52
live.linuxaudio.org has its own ToS which might/should even be GDPR compliant. The participant registration is another potential minor issue.

[2018-05-31 16:49] ri0t opened #53 "Get beverages to/for NativeSpace"
We'll need a lot of drinks at the concert venue on Saturday.
Either order some there specifically or transport stuff from c-base over.

We'll possibly also need a few barbots there. Right, @dvzrv?

[2018-05-31 16:52] dvzrv commented on #52
This is not really what this issue is about, but maybe your live system is somehow also affected by this.
I'm *explicitely* referring to streaming here.

I think we will have to a) mention all of this on the website (as streaming potentially also affects visitors!) and b) write to all presenters and ask for their permission to stream their presentation.

[2018-05-31 17:04] dvzrv commented on #53
As there is no real "bar situation", but more of a countertop of a kitchen, this is not so easy, but could be arranged somehow. Also, fridge should only be opened before, during break and after the concerts, as it's seated and most likely streamed.

[2018-05-31 17:23] ri0t commented on #24
Consider it closed. I just didn't have a good camera on me, to take my own pics. Will check with the photos and list, later, today.

[2018-05-31 18:13] ri0t commented on #10
@dvzrv , @anwaldt  - Which pad is this or where are the lists mentioned? I want to send out the Call For Lightning Talks to the same(?) lists - there are only three submissions right now :-/

[2018-05-31 18:26] dvzrv commented on #10
@ri0t look into the sent folder of the lac mail account for the lists addressed.

[2018-05-31 18:45] x42 commented on #10
A _Call For Lightning Talks_  less than a week before the conference? and send it to 30+ high profile email lists?  I'll recommend against that. We'll embarrass ourselves and discredit the conference, won't we?

[2018-05-31 18:56] dvzrv commented on #10
you might be right, that this is actually too late to send out.

[2018-05-31 18:56] ri0t commented on #10
No, not to all of them. CCC lightning talks are announced quite shortly before as well.

[2018-05-31 18:58] ri0t commented on #10
Hack'n'tell is even shorter - they collect the talks at the beginning of each session.

[2018-05-31 19:04] fundamental commented on #10
Registration includes email so, wouldn't it be appropriate at this state to only email people who are attending the conference about the lightning talks?

[2018-05-31 19:05] ri0t commented on #10
That kinda makes a lot of sense :-> Do we have a way to contact all participants already?

[2018-05-31 19:09] dvzrv commented on #10
we have a list of registrants in the mail account.
now please stop necrobumping this issue

[2018-05-31 23:24] dvzrv commented on #38
@derpeter when can we get an update on the MAC adresses? We have to inform our admins about them for higher prio, than the rest of the internal stuff at c-base.

[2018-06-01 07:37] dvzrv commented on #49
one camera and additional equipment needs to be transferred to native space from c-base and back afterwards (for streaming).

[2018-06-01 07:40] dvzrv commented on #47
Made this a little more clear

[2018-06-01 07:59] dvzrv opened #54 "Buy vegetarian and non-vegetarian food for barbecue"
Food has to be bought for Thursday's barbecue. This will be for 60+ people.
This should entail vegetarian and non-vegetarian solutions. We will also need dishes most likely, as there will be many people.
Money will be reimbursed from c-base, so keep the receipt.

[2018-06-01 08:02] dvzrv commented on #53
This also entails getting empty bottles etc. back to c-base/ picked up.

[2018-06-01 09:21] derpeter commented on #38
I sendet a mail with a sugestion for a setup, we woudl need to get that confirmed than i can tell you which device will be seen bei your GW.

If possible we would like to ask for an real layer2 or an vlan between the rooms. And one port in a different layer2 / vlan that leads to the gateway. The perfect setup for us would be to plug our gateway right at the patchpanel with its LAN side to the patc

[2018-06-01 09:48] dvzrv commented on #52
Got referred to use this: https://datenschutz-generator.de/, which I will use for the website.
We need to formulate something similar to be sent to all presenters.

[2018-06-01 10:09] #24 closed, assigned to dvzrv, ri0t

[2018-06-01 10:10] dvzrv commented on #38
Thanks! Let's discuss this Saturday evening then.

[2018-06-01 20:01] #37 closed, assigned to nobody

[2018-06-02 17:03] dvzrv commented on #52
Added all presenters and artists to a mailing list.
The privacy statement is in place on the website, but not actively linked anywhere yet.
Later I'll write a post and send an e-mail to all affected people regarding the privacy statement, streaming and licensing.

[2018-06-02 17:05] dvzrv commented on #53
As we can now use c-base stock, we need change in coins. Plenty!

[2018-06-02 17:05] dvzrv commented on #45
Delivery by the manufacturer is requested, instead of pickup.

[2018-06-02 17:19] ri0t commented on #54
How much budget can/should we use?

[2018-06-02 17:19] ri0t commented on #53
I'll prepare a bartender purse, latest wednesday evening (after the board meets).

[2018-06-02 17:26] ri0t commented on #51
@Excds  -I have mounted the mount but it is pretty much unusable as is - the distance to the screen is (as i warned about) too far and keystone can't really be corrected right now. Also, there's a signal cable missing, but c_ascha has some, we might be able to use.

[2018-06-02 17:29] ri0t opened #55 "Clear seminarroom"
There is lots of unnecessary and disturbing fluff in there, right now. c_ascha offered help, as he is the last ceminar-orga person.

[2018-06-02 17:37] dvzrv commented on #54
I'll know after paying the insurance tomorrow afternoon.

[2018-06-02 23:53] dvzrv opened #56 "Infodesk (bar)"
Mainhall bar needs the following things:

- [x] printed proceedings (separate stock for visitors, that pre-ordered them!)
- [ ] spare cash to deal with selling of printed proceedings
- [x] donation box
- [ ] license, streaming, copyright, privacy agreement for presenters
- [x] name tags for registered visitors

[2018-06-03 13:09] Excds commented on #39
![20180602_144339](https://user-images.githubusercontent.com/189418/40886864-c45cb106-673f-11e8-8aff-464a6d45cb90.jpg)

[2018-06-03 13:09] #39 closed, assigned to Excds

[2018-06-03 13:19] dvzrv commented on #53
We only need to arrange a time schedule for the pickup. We have a transporter available that day for the studio equipment anyways.

[2018-06-03 13:21] dvzrv opened #57 "Setup VOC equipment"
Due to availability this needs to be done coming Wednesday (some time after 19:00, planned length is 2hours).
We will get an intro by @derpeter.

[2018-06-04 07:55] Excds commented on #56
@dvzrv For the name tags, should we just have some stickers and permanent markers so people can write themselves?

[2018-06-04 08:22] Excds commented on #55
Fixed yesterday.

The floor could use another sweep and just wiping the tables before any workshops.

[2018-06-04 08:22] #55 closed, assigned to nobody

[2018-06-04 09:30] dvzrv commented on #52
Sent out e-mail to all presenters informing about privacy statement and licensing model for streaming and video uploads to platforms (CC BY-NC-SA 4.0) such as media.ccc.de and youtube.com.

[2018-06-04 09:35] dvzrv commented on #56
@anwaldt please review the privacy statement and the e-mail sent out to the presenters to formulate the agreement for the presenters.
Ideally this agreement is signed a couple of hours before the presentation, so it gives enough leeway to setup the streams as intended. Therefore it needs to be at the info desc on Thursday already.

[2018-06-04 12:44] dvzrv commented on #45
will be delivered to c-base directly

[2018-06-04 12:44] #45 closed, assigned to anwaldt

[2018-06-04 12:48] dvzrv commented on #3
this is getting more complicated as expected (because CCC should actually have an insurance for this). will get the contract in time hopefully, not sure what this will cover yet and how much

[2018-06-04 19:39] dvzrv opened #58 "Reserve weltenbaulab for MOD"
MOD was promised a little chat-corner for talking about their new plugin store. We need to use Weltenbaulab desk for it.
This also requires a sign probably?

[2018-06-05 08:10] dvzrv commented on #38
I guess, if MM won't help out and as uk is not in Berlin, the easiest would be to setup cables ourselves, as I don't trust the internal infrastructure and we don't have time for debugging this.

[2018-06-05 09:45] dvzrv commented on #19
Sent another mail to c-base internal mailing list.

[2018-06-05 09:47] dvzrv commented on #55
What is the status on the projector in there? We need to send out another reminder as to what to bring, if you want to present there.
Are we sure, we have HDMI and VGA connection available? Can we adapt to anything?

What about sound? Can we use the HEDD speakers with an audio interface of sorts in there?

[2018-06-05 09:48] dvzrv commented on #51
We should think of an additional audio interface to use with the HEDD speakers, unless we can also hook them up to the current system.

[2018-06-05 09:52] dvzrv commented on #32
I sent out the privacy and license notification to all presenters (got some feedback already).
I also prepared an agreement to be signed on-site by all presenters, without which their content must be removed from the website and their presentation/performance will not be streamed or uploaded.
More fine-grained settings are possible.

[2018-06-05 09:52] #32 closed, assigned to anwaldt

[2018-06-05 10:36] ri0t commented on #55
Projector there is fine - but only a VGA cable.

[2018-06-05 10:38] dvzrv commented on #55
iirc we used my HDMI cable last time... I hope I can find it!

[2018-06-05 17:41] Excds commented on #40
Done.

[2018-06-05 17:41] #40 closed, assigned to Excds

[2018-06-05 17:42] Excds commented on #47
I've printed 10x of this: https://docs.google.com/presentation/d/19Z0yglI-hx2d3kDR_VvW0E8uWU-bzUlIgs-TAuEsuYs/edit?usp=sharing

[2018-06-05 17:42] Excds commented on #47
I've also bought masking tape for putting up the printed arrows. Oh, and chalk for writing on the street.

[2018-06-06 16:31] dvzrv commented on #3
Finally done... FML.

[2018-06-06 16:31] #3 closed, assigned to dvzrv

[2018-06-06 16:33] dvzrv commented on #49
Two sets of keys to gate and room acquired yesterday

[2018-06-06 22:51] ri0t commented on #57
[x] Done :dancing_men:

[2018-06-06 22:51] #57 closed, assigned to Excds, dvzrv, ri0t

[2018-06-06 22:52] ri0t commented on #54
Thanks to @excds and c_ascha, that has been done.

[2018-06-06 22:52] #54 closed, assigned to nobody

[2018-06-06 22:54] ri0t commented on #47
The online map is quite usable and has some detail infos about some waypoints.
The printed map is done (copy of the online map), i'll bring half a dozen copies for distribution tomorrow.
Another happy accident: We got a lot of extra large arrows (laminated!) - they're stored at the videotresen.

[2018-06-06 22:54] #42 closed, assigned to ri0t

[2018-06-06 22:55] dvzrv commented on #38
done that. ipb 10/10 is as good as it gets for us and I hope it's enough (as we're not getting all of it).
If the streams get to sloppy, we'll switch to LTE.

[2018-06-06 22:55] #38 closed, assigned to nobody

[2018-06-06 22:55] ri0t commented on #23
Bitwig needs to be added.

[2018-06-06 22:55] dvzrv commented on #52
the agreement only needs to be printed about 50 times now and setup at the bar.

[2018-06-06 22:56] dvzrv commented on #35
this is done in a 2 day rhythmn atm.

[2018-06-06 22:56] #35 closed, assigned to nobody

[2018-06-06 22:57] dvzrv commented on #53
@ri0t can you make a list of what we will bring?

[2018-06-06 22:59] #52 closed, assigned to dvzrv

[2018-06-06 23:00] ri0t commented on #53
Yeah, tomorrow. How much space do we have for crates? A Robbe? Enough? Hmm.

[2018-06-06 23:00] dvzrv commented on #50
List now started in nextcloud. Feel free to edit @Excds @ri0t @anwaldt

[2018-06-06 23:00] #50 closed, assigned to nobody

[2018-06-07 06:35] Excds commented on #23
@ri0t Well, just add them then...

[2018-06-07 09:12] dvzrv opened #59 "Make sure presenter input works as intended"
We need to make sure, that the presenter's input will work as intended (in mainhall and ceminar!) for:

# mainhall

- [ ] stereo 3.5mm jack input
- [ ] headset/ microphone
- [ ] VGA input
- [ ] HDMI input

# ceminar

- [ ] stereo 3.5mm jack input
- [ ] headset/ microphone
- [ ] VGA input
- [ ] HDMI input

Especially in ceminar I'm currently unsure if all is working as intended.
If in question ping

[2018-06-07 13:37] ri0t commented on #58
i cleared and cleaned the table. will print a sign

[2018-06-07 13:37] #58 closed, assigned to nobody

[2018-06-11 12:28] #19 closed, assigned to Excds

[2018-06-11 12:28] #23 closed, assigned to ri0t

[2018-06-11 12:28] #26 closed, assigned to nobody

[2018-06-11 12:28] #43 closed, assigned to ri0t

[2018-06-11 12:28] #44 closed, assigned to ri0t

[2018-06-11 12:28] #47 closed, assigned to Excds

[2018-06-11 12:28] #49 closed, assigned to dvzrv, anwaldt

[2018-06-11 12:28] #51 closed, assigned to Excds

[2018-06-11 12:28] #53 closed, assigned to nobody

[2018-06-11 12:28] #56 closed, assigned to Excds, anwaldt, ri0t

[2018-06-11 12:28] #59 closed, assigned to Excds, anwaldt, ri0t

[2018-06-11 12:32] #27 closed, assigned to ri0t

[2018-06-11 12:32] #48 closed, assigned to nobody

[2018-06-11 12:33] #34 closed, assigned to dvzrv, ri0t

[2018-06-11 12:34] dvzrv commented on #34
@MaZderMind hope you can get another spedition. Those guys were terrible...
Today they showed up at c-base at 13:00, without even calling...

[2018-06-11 14:02] ri0t opened #60 "Restore mainhall, seminarroom, aboretum etc."
* [x] cycle trashbins
* [x] pick up cigarette butts and trash in the green area
* [x] vent all rooms
* [ ] clear fridge
* [ ] put back divider walls
* [ ] ...?

[2018-06-11 14:44] MaZderMind commented on #34
Do you mean I should try to schedule another pickup?

Or rather try a different one in the future?

[2018-06-11 14:52] dvzrv commented on #34
@MaZderMind The 2nd thing. It was picked up some time after 14:00 eventually (the person present at c-base at 13:00 sent the driver away) afaik.

It's just weird, that they neither keep their schedule, nor call up front. Nothing you can change (, but to change to a different service, I suppose).

Thanks for taking care of the transportation otherwise! :)

[2019-09-23 23:25] #22 closed, assigned to x42, dvzrv, anwaldt

[2019-09-23 23:26] #1 closed, assigned to nobody

[2019-09-23 23:26] #60 closed, assigned to ri0t